* {
    font-family: 'Roboto', sans-serif;
    color: rgb(187, 187, 187);
}

body {
    background-color: rgb(46, 46, 46);
}

.container {
    width: fit-content;
    background-color: black;
    border-radius: 10px;
    color: white;
    margin-top: 60px;
    padding: 30px;
}

.title {
    padding: 10px;
}